body {
    background: #0d1b2a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 20px;
}

.btn {
    padding: 12px 20px;
    background: #1b263b;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #415a77;
}

.grid {
    display: grid !important;
    grid-template-columns: repeat(10, 40px);
    gap: 5px;

    display: flex;
    flex-wrap: wrap;
    width: 420px; /* 10 cases + espaces */
    justify-content: center;
    margin: 40px 700px  ;
}


.cell button {
    width: 40px;
    height: 40px;
    background: #1b263b;
    border: 1px solid #415a77;
    cursor: pointer;
}

.cell.placed button {
    background: #4CAF50;
}

.cell.hit button {
    background: red;
}

.cell.miss button {
    background: #1e90ff;
}

.reset {
    background: #8b0000 !important;
}

.reset:hover {
    background: #b30000 !important;
}
