body {
    background: #0d1b2a;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#grille {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 3px;
    margin: 30px auto;
    width: max-content;
}

.case {
    width: 50px;
    height: 50px;
    background: #1b263b;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.case:hover {
    background: #415a77;
}

.case.touche {
    background: #d00000 !important;
}

.case.rate {
    background: #1e6091 !important;
}
